<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>

</head>
<body>
    <div>
        <div>登录系统</div>
        <form id="form1" action="loginPage" method="post">
            <table>
                <tr>
                    <td>用户名：</td>
                    <td><input id="tno" name="tno" type="text"  ></input></td>
                </tr>

                <tr>
                    <td>密码：</td>
                    <td><input id="password" name="password" type="password" ></input></td>
                </tr>
                <tr>
                    <td></td>
                    <td><input id="button1" name="button1" value="登录" type="submit" /></td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>